* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f0ff;
  background-color: white;
}

.todo {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 600px;
  background-color: #f4fafd;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px 0;
}

.todo-title {
  text-align: center;
  border-bottom: 1px solid #f9f9f9;
}

.todo-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 20px;
  padding: 10px 0px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.todo-tab--active {
  color: blue;
  font-weight: bold;
}

.todo-text {
  font-family: 'Gabarito', sans-serif;
  font-size: 22px;
}

.todo-summary {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  font-size: 13px;
  color: darkslategray;
}

.todo-summary-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: end;
}

.todo-manage {
  display: flex;
  justify-content: end;
  margin: 0 20px;
}

.todo-manage button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: pink;
  cursor: pointer;
}

.todo-manage button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.75;
  pointer-events: none;
}

.todo-list {
  padding: 0 1rem;
  min-height: 330px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-item--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.todo-item {
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid darkgray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.todo-item-check-wrap {
  display: flex;
  align-items: center;
  min-width: 72px;
  padding: 5px;
  gap: 10px;
  cursor: pointer;
}

.todo-item input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.todo-delete-icon {
  flex-shrink: 0;
  cursor: pointer;
}

.todo-item--completed {
  background-color: #e2dede;
  opacity: 0.75;
}

.todo-item--completed .todo-item-text {
  text-decoration: line-through;
}

.todo-input {
  padding: 0 1rem;
  margin-top: auto;
  display: flex;
  height: 40px;
}

.todo-input-text {
  flex-grow: 1;
  border: 1px solid darkgray;
  border-radius: 10px;
  margin-right: 10px;
  padding: 0 10px;
}

.todo-input-btn {
  flex-shrink: 0;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: skyblue;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
